# Ignore compiled Python files
*.pyc

# Ignore Python bytecode directory
__pycache__

# Ignore compiled Java files
*.class

# Ignore package files
*.jar
*.war
*.ear

# Ignore compiled C/C++ files
*.o
*.out

# Ignore build directories
build/
bin/
target/

# Ignore editor backup files
*~
.*.swp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

# Ignore designs
design/

canvas-upload.html

assets/svg/