

#canvas {
    width: 202px;
    height: 202px;
    display: grid;
    grid-template-columns: repeat(10, 20px); /* 14 columns, each 20px wide */
    grid-template-rows: repeat(10, 20px); /* 14 rows, each 20px high */
    border: 1px solid blue;
}

#canvas:hover {
    cursor: pointer;
}

.square {
    width: 20px;
    height: 20px;
}