*{
    padding: 0px;
    margin: 0px;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 400 to 900 */

body {
    background-color: #F1FAEE;
    font-family: "Kufam", sans-serif;
    font-optical-sizing: auto;
    max-width: 1152px;
    margin: auto; /* Reset default body margin */
    text-align: center; /* Horizontally center inline and inline-block elements */
}

::selection {
    background-color: #E02D15;
}

#header-container {
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Distribute space evenly between child elements */
    width: 60%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    color: #0A8B99;
}

#canvas-container {
    width: 250px;
    height: auto;
}

#myCanvas {
    margin: auto;
    position: relative;
    /* border: 1px dashed black; */
}

#canvas-text {
    margin-top: 8px;
    width: 100%;
    text-align: justify;
    font-weight: 700;
    color: black;
}
#header-text-container {
    width: 380px;
    /* border: 1px solid black; */
}

#header-text-main {
    text-align: center;
    font-size: 51px;
    margin-bottom: 20px;
}

#header-text-second {
    font-weight: 500; /* Adjust the font weight as needed */
    text-align: justify;
    font-size: 35px;
}

/* Social-container */
#connect-container-buttons {
    text-align: center;
    user-select: none;
    width: 22%;
}

#connect-text {
    text-align: center;
    font-size: 26px;
    color: #E02D15;
    font-optical-sizing: auto;
    font-weight: 700; /* Adjust the font weight as needed */
    font-style: normal;
}

.social-icon{
    width: 35px;
    height: auto;
    margin-right: 10px;
}

.social-icon:hover {
    fill: #E02D15;
    cursor: pointer;
}

#email-icon {
    margin-right: 0px
}

/* Section containers */
/* General */
.section-container{
    width: 60%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    margin-bottom: 50px;
}

.section-title {
    color: #E02D15;
    width: 200px;
    text-decoration: underline;
    font-size: 40px;
    font-weight: 700;
}

.section-text {
    text-align: justify;
    margin-bottom: 22px;
    font-weight: 400;
}


/* Text styling */
.italic {
    font-style: italic;
}

.bold {
    font-weight: 700; /* Adjust the font weight as needed */
}


.hyperlink {
    color: #E02D15;
}

.hyperlink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hyperlink::selection {
    background-color: #E02D15;
    color: black;
}

/* Dividers */
/* Connect divider */
#connect-divider {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#connect-divider-left, #connect-divider-right {
    background-color: black;
    margin-top: 50px;
    height: 5px;
}

#connect-divider-left { width: 60%;}
#connect-divider-right {width: 7%;}
#connect-container-buttons {width: 22%;}


/* Divider 1 */
#divider-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: auto;
    margin-bottom: 40px;
}

#divider-1-left, #divider-1-middle, #divider-1-right {
    height: 5px;
    background-color: #0A8B99;
}

#divider-1-left {width: 7%;} 
#divider-1-middle {width: 22%;} 
#divider-1-right {width: 60%;}