html, body {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

@media (max-width: 480px) {
    html {
        font-size: 13px;
    }
}

body {
    background-color: #BDCFE4;
    font-family: "Kufam", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    line-height: 1.5;
    color: #35497D;
}

section {
    max-width: 1000px;
    min-width: 280px;
    margin: auto;
    border: 5px solid rebeccapurple;
    height: 99vh;
}




/* Launch Page */
#launch-page-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    opacity: 1;
    transition: opacity 1s ease-in-out; /* Smooth transition */
    user-select: none;
    background-color: #BDCFE4;

    display: none;
}

#launch-page-container.hide {
    opacity: 0; /* Make title page invisible */
}

#launch-page-name {
    color: #CB152B;
    font-size: 4.8rem;
    /* border: 1px solid black; */
    text-align: left;
    min-width: 667px;

    border: 1px solid black;
}

#launch-page-text {
    color: #35497D;
    font-weight: normal;
    font-size: 3rem;
    max-width: 500px;
    opacity: 0;
    
    border: 1px solid black;
}

#launch-text-effect {
    color: rgba(53, 73, 125, 0.40);
}

@media only screen and (max-width: 479px) and (orientation: portrait) {
    #launch-page-container {
        align-items: center;
        justify-content: center;
    }

    #launch-page-name {
        min-width: 373px;
        font-size: 3.9rem;
        margin-top: 80%;
        margin-left: 0px;
    }

    #launch-page-text {
        max-width: 320px;
        font-size: 2.75rem;
        margin-left: 0px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 812px) and (orientation: landscape) {
    #launch-page-container {
        align-items: start;
    }

    #launch-page-name {
        min-width: 373px;
        font-size: 3.9rem;
        margin-left: 0px;
        margin-top: 0;
    }
  }
  





/* Landing Page */
#landing-page-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#top-row-container {
    display: flex;
    max-width: 1000px;
    margin: auto;

    /* border: 3px solid black; */
}

#canvas-container {
    margin: auto;
    margin-left: 50px;

    /* border: 1px solid red; */
}

#myCanvas {
    display: block; /* Change the display property to block */
    margin: auto; /* Set the top and bottom margins to auto */
    
    /* border: 1px solid black; */
}

#canvas-text {
    color: #1E1E34;
    font-style: 'Kufam';
    font-weight: 600;
    margin: auto;
    font-size: 1rem;
    width: 300px;
}


#landing-page-text-container {
    font-size: 2.25rem;
    min-width: 280px;
    margin: auto;
    margin-left: 80px;

    /* border: 2px solid brown; */
}

#landing-page-text-0 {
    margin-top: auto;
    margin-bottom: 20px;

    /* border: 1px solid black; */
}

#landing-page-text-1 {
    margin-top: auto;
    margin-bottom: auto;

    /* border: 1px solid black; */
}

#landing-page-connect-container {
    display: flex;
    flex-wrap: wrap;
    min-width: 280px;
    max-width: 400px;
    margin-right: auto;
    margin-left: 150px;
    margin-bottom: auto;

    /* border: 2px solid green; */
}

#landing-page-connect-text {
    min-width: 280px;
    max-width: 450px;
    font-size: 2em;
    margin-top: auto;
    margin-bottom: 20px;
    color: #1E1E34;
}

.connect-container {
    /* border: 1px solid red; */
    display: flex;
    min-width: 270px;
    max-width: 550px;
    margin-bottom: 10px;
    font-size: 1.35em;
}

.connect-icon-1 {
    /* border: 1px solid blue; */
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    width: 30px;
    height: auto;
}

.connect-text-1 {
    /* border: 1px solid black; */
    margin-top: auto;
    margin-bottom: auto;
}

#linkedin-container {
    margin-bottom: auto;
}

#arrow-down {
    width: 40px;
    height: auto;
    transform: rotate(180deg);
    margin-left: auto;
    margin-right: 30px;
    margin-top: auto;
    margin-bottom: 30px;
    position: absolute;
    bottom: 1vh;
    right: 0;

    display: none;
}

/* Desktop too narrow */
@media (max-width: 808px) and (max-height: 610px) {
    #landing-page-text-container {
        font-size: 2rem;
    }

    #landing-page-connect-text {
        font-size: 1.7rem;
        margin-bottom: 10px;
    }

    .connect-container {
        font-size: 1.2rem;
    }
}

/* Mobile Portrait */
@media only screen and (max-width: 750px) and (orientation: portrait) {
    #top-row-container {
        display: block;
    }
    
    #canvas-container {
        margin-left: auto;
        margin-bottom: 20px;
    }

    #landing-page-text-container {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 1.4em;
        margin-bottom: 20px;
        
    }

    #landing-page-connect-container {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 0px;
        margin-bottom: 10px;

        font-size: 1rem;
    }

    .connect-container {
        font-size: 1rem;
    }
}


/* Mobile Landscape */
@media only screen and (max-width: 950px) and (max-height: 450px) and (orientation: landscape) {
    section {
        height: auto;
    }
  }
  





  

/* Text styling */
.red-text {
    color: #CB152B;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Start with opacity 0 (fully transparent) */
    }
    to {
        opacity: 1; /* End with opacity 1 (fully opaque) */
    }
}

/* Apply the fade-in animation to elements with the .fade-in class */
.fade-in {
    animation: fadeIn 0.5s ease-in; /* Use the fadeIn animation with 1 second duration and ease-in timing function */
}

@keyframes fadeOut {
    from {
        opacity: 1; /* Start with opacity 1 (fully opaque) */
    }
    to {
        opacity: 0; /* End with opacity 0 (fully transparent) */
    }
}

/* Apply the fade-out animation to elements with the .fade-out class */
.fade-out {
    animation: fadeOut 0.5s ease-out; /* Use the fadeOut animation with 0.5 second duration and ease-out timing function */
}
