<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.15/paper-full.min.js"></script>
    <title>Shalin Ahasan</title>
</head>
<body>
    <div id="launch-page-container">
        <div id="launch-page-box">
            <h1 id="launch-page-name"></h1>

            <h2 id="launch-page-text">This is a <span class="red-text">collection</span> from me 
                <span class="italic" id="launch-text-effect">and my corner of the internet.</span>
            </h2>

        </div>
    </div>

    <section id="landing-page-section">
        <div id="landing-page-text-container">
            <p class="text" id="landing-page-text-0">Hello!</p>
            <p class="text" id="landing-page-text-1">I'm <span class="bold red-text">Shalin Ahasan</span>, an aspiring
            software engineer, and a recent graduate in Natural Sciences.</p>
        </div>

        <div id="landing-page-connect-container">
            <p id="landing-page-connect-text">Let's connect <span class="red-text bold">:)</span></p>

            <div class="connect-container" id="email-container" class="hyperlink" link="linkedin">
                <svg class="connect-icon-1"id="email-icon-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12.042 23.648c-7.813 0-12.042-4.876-12.042-11.171 0-6.727 4.762-12.125 13.276-12.125 6.214 0 10.724 4.038 10.724 9.601 0 8.712-10.33 11.012-9.812 6.042-.71 1.108-1.854 2.354-4.053 2.354-2.516 0-4.08-1.842-4.08-4.807 0-4.444 2.921-8.199 6.379-8.199 1.659 0 2.8.876 3.277 2.221l.464-1.632h2.338c-.244.832-2.321 8.527-2.321 8.527-.648 2.666 1.35 2.713 3.122 1.297 3.329-2.58 3.501-9.327-.998-12.141-4.821-2.891-15.795-1.102-15.795 8.693 0 5.611 3.95 9.381 9.829 9.381 3.436 0 5.542-.93 7.295-1.948l1.177 1.698c-1.711.966-4.461 2.209-8.78 2.209zm-2.344-14.305c-.715 1.34-1.177 3.076-1.177 4.424 0 3.61 3.522 3.633 5.252.239.712-1.394 1.171-3.171 1.171-4.529 0-2.917-3.495-3.434-5.246-.134z"/></svg>
                <p class="connect-text-1 red-text bold">shalin.a.ahasan@gmail.com</p>
            </div>

            <div class="connect-container" id="linkedin-container" class="hyperlink" link="linkedin">
                <svg class="connect-icon-1" id="linkedin-icon-1"xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
                <p class="connect-text-1 red-text bold">Shalin Ahasan</p>
            </div>
            
        </div>
    </section>
</body>

<script src="/static/js/index.js"></script>
</html>